// Specific CSS for your home-page
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: rgb(71, 0, 79);
  padding: 8px 24px;
  border-radius: 4px;
  background: #ffeb0b;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #ffd000;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.container_social {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
  text-decoration: none;
}

.fa-brands {
  color: #4A4A4A;
  font-size: 40px;


}

.fa-brands:hover {
  color: #ffd000;
  font-size: 40px;
}

#btn_gallery {
  margin-top: 20px;
}
#a_nodec {
   text-decoration: none !important;
 }
