<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="https://scontent.fopo6-1.fna.fbcdn.net/v/t39.30808-6/302002237_520757543383722_7462557137669745505_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Snn-Tb6xq1kAX__chej&_nc_ht=scontent.fopo6-1.fna&oh=00_AfBbJACy_NjX2mNqCQ0v6ZJpS4TXdu-JA6lomC7FftASlA&oe=640EB4C4" height="40" class="d-inline-block" alt="">
      FOOTBALL TRAINING CENTER
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Programs</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Our Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
          </li>
      </ul>
    </div>
  </div>
</div>
