<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://scontent.fopo6-2.fna.fbcdn.net/v/t39.30808-6/301734201_520757540050389_5018973179349591461_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=_vXPoqR-XhwAX-InHch&_nc_ht=scontent.fopo6-2.fna&oh=00_AfCKvZ9U1pc0Hgb7KHRWLsgMGhPZSTEuYGMBrfNfsebgww&oe=640F7DC8);">
  <div class="container">
    <h1>FTC brings <strong>your skills</strong> to the <strong>next level</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="/program">SIGN UP</a>
  </div>
</div>

<div class="container_social">
<a class="btn btn-ghost" href="/gallery">PHOTO GALLERY</a>
</div>
